
service: inventory-service


provider:
  name: aws
  runtime: nodejs12.x
  iamRoleStatements:
        - Effect: "Allow"
          Action:
            - cloudformation: CreateStack
            - cloudformation: DescribeStacks
            - cloudformation: CreateChangeSet
            - cloudformation: ListStacks
            - cloudformation: UpdateStack
            - cloudformation: DescribeChangeSet
            - cloudformation: ExecuteChangeSet
            - iam: GetRole
            - lambda: UpdateFunctionCode
            - lambda: UpdateFunctionConfig
            - lambda: GetFunctionConfiguration
            - lambda: AddPermission
            - s3: GetObject
          Resource: "*"


functions:
  createWarehouse:
    handler: handlers/warehouse-handler.newWarehouse
    events:
      - http:
          path: warehouse
          method: post
  updateWarehouse:
    handler: handlers/warehouse-handler.updateWarehouse
    events:
      - http:
          path: warehouse
          method: put

  addStock:
    handler: handlers/stock-handler.addStock
    events:
      - http:
          path: stock/add
          method: post
  moveStock:
    handler: handlers/stock-handler.moveStock
    events:
      - http:
          path: stock/move
          method: put

  orderHandler:
    handler: handlers/stock-handler.orderHandler
    events:
      - http:
          path: stock/order
          method: post

plugins:
   - serverless-offline